<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mamn01.projekt">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ourloggo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat"
        android:supportsRtl="true">

        <activity android:name=".PugActivity" />
        <activity android:name=".GiveActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".StarActivity"
            android:theme="@style/Theme.AppCompat"
            />
        <activity android:name=".Connect"/>
        <activity android:name=".Serching"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HugboardActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/hugboard"></activity>
    </application>

</manifest>